.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.navbarlink {
    color: white;
    text-decoration: none;
}

.navbarlink:hover {
    color: white;
    background-size: cover;
    background-color: rgb(255, 0, 0);
}

.navbarlink:active {
    color: white;
    background-color: tomato;
}
.navbar-link {
    color: black;
    text-decoration: none;
    align-items: center;
}

.navbar-link:hover {
    color: white;
    background-color: rgb(255, 0, 0);
}

.navbar-link:active {
    color: white;
    background-color: tomato;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.image-wrapper {
    flex: 0 0 50%;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.text-wrapper {
    flex: 0 0 50%;
    padding: 0 2rem;
    margin-top: 4vh;
}

.text-wrapper h2 {
    margin-top: 4vh;
}

.logo {
    background-color: white;
    height: auto;
    width: auto;
}

.image1 {
    width: 20vw;
    height: 80vh;
    margin-bottom: 7%;
    margin-top: 3%;
}

.image2 {
    width: 70vw;
    height: 70vh;
    margin: auto;
    margin-top: 4vh;
}

.textHome1 {
    justify-items: self-start;
    color: black;
    text-decoration: solid;
}
.textHome2 {
    justify-content: left;
    color: black;
}
div img {
    width: 24rem;
    height: 20rem;
}
.data1 {
    height: 1rem;
    width: 10rem;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    .image1 {
        width: 64vw;
        height: 35vh;
        margin-bottom: 7%;
        margin-top: 3%;
    }
    .image2 {
        width: 40rem;
        height: 30rem;
        margin: auto;
        margin-top: 4vh;
        margin-bottom: 3vh;
    }
    .textHome1 {
        justify-items: self-start;
        color: black;
        text-decoration: solid;
        font-size: 0.9rem;
        font-weight: bold;
    }
    .textHome2 {
        justify-content: left;
        color: black;
        font-size: 0.9rem;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
